<!doctype HTML>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="{{url_for('haslo')}}">Wpisz hasło</a></li>
                <li><a href="{{url_for('definicja')}}">Wpisz definicje</a></li>
                <li><a href="{{url_for('krzyzowka')}}">Wygeneruj krzyżówkę</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>