<!doctype HTML>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <h1>Pomoc z Krzyzowkami:</h1>
            <a href="/">Strona główna</a>
            <a href="{{url_for('haslo')}}">Wpisz hasło</a>
            <a href="{{url_for('definicja')}}">Wpisz definicje</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>